#container{
    width: 1000px;
    margin: auto;
    display: grid;
    grid-template-columns: 50px 300px 150px 150px 300px 50px;
    grid-template-rows: 50px 70px 350px 50px 700px;
    background-color: rgb(0, 50, 86);
    border-radius: 30px;
    color:white;
}


/* #item1{ */
    /* grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 4; */
    /* justify-self: center; */
    /* align-items: center; */
/* } */

#item1{
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
    text-align: center;
}

#item2{
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 3;
}

img{
    /* height: 100%; */
    width: 210px;
}

.itemImg{
    padding: 0px; 
    border: 20px double rgb(255, 255, 255);
    border-radius: 20px;
    margin: 2px;
}

#contatinerImg{
    justify-self: center;
    align-items: center;
    margin: auto;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: space-between;
} 

#contatinerImg{
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 4;
}

#resultForm{
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 6;
}

#resultList{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 6;    
}

#resetButton{
    width: 100%;
    height: 50px;
    border-radius: 25px;
    border: 1px solid white;
    color: white;
    font-size: larger;
    font-weight: bolder;
}

#canvas-container{
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 5;
    grid-row-end: 6;    
}

fieldset{
    display: flex;
    flex-flow: row;
}

ul{
    text-align: center;
    list-style: none;
}

#canvas-container{
    margin: auto;
}

#canvas-container{
    background-color: rgb(0, 50, 86);
    padding: 20px 10px;
    border-radius: 10px;
}
